* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#card {
    width: 550px;
    height: 719px;
    margin: auto;

    background: #1f2937;
}

#card-header {
    height: 190px;
    background: #3a69d2;
}

#tasks-container {
    margin: 40px;
}

#tasks-buttons {
    width: 473px;
    height: 43px;
}
