* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

#card {
    width: 550px;
    height: 719px;
    margin: auto;

    background: #1f2937;
}

#card-header {
    display: flex;
    height: 190px;
    background: #3a69d2;
}

#card-title {
    display: grid;
    margin: auto;
    gap: 9px;

    text-align: center;

    color: #ffffff;
}

#card-title h1 {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -0.02em;
}

#tasks-container {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

#tasks-buttons-container {
    display: flex;
    justify-content: space-between;
}

#tasks-buttons-container button {
    width: 143px;
    height: 45px;

    font-size: 14px;

    background: #d1d4f4;
    color: #4a4e74;

    border: 1px solid #d5d4d8;
    border-radius: 7px;
    border-style: none;
}
